

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar_brand" do %>
        <%= image_tag "blog-pages.png" %>
      <% end %>
    </div>

  <ul class="nav nav-tabs">
    <li role="presentation" id="home"> <%= link_to "Home",root_path %></li>
    <li role="presentation" id="tab"> <%= link_to "Blog", posts_path %></li>
    <li role="presentation" id="tab"> <%= link_to "About", about_path %></li>
    <li role="presentation" id="tab"> <%= link_to "Contact", contact_path %></li>
    <li role="presentation" id="tab"> <%= link_to "Resources", resources_path%> </li>
  </ul>
  </div>

</nav>

