<!DOCTYPE html>
<html>
  <head>
    <title>Myrubyblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- We can do a loop for notices here in the layouts which will display a confirmation message of a successful post being created -->
    <% flash.each do |key, value| %>
    <p> <%= value %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
